<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://static.turbosquid.com/Preview/2019/07/05__10_19_52/1.pngB9594FF2-3D51-46FB-AE6F-9CC7BFB28D54Large.jpg" sizes="32x32" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Your One-Stop Organs Store</title>
    <style>
        .hover-opacity:hover{
            opacity:0.5;
        }
    </style>
</head>
<body>
    <div class="d-flex flex-column">
    <h1 class="d-flex justify-content-center mb-2">Organ Listings</h1>
    <h6 class="d-flex justify-content-center mb-5">(Obviouly not a legitimate website, please do not sell your organs for money)</h1>
    <div class="d-flex justify-content-center flex-wrap">
    <% for (let i=0;i<product.length;i++){ %>
        <a href=<%=product[i]._id%> style="text-decoration: none; color:black">
        <div class="card p-3" style="width: 18rem;">
            <img src=<%=product[i].img%> style="height: 15rem; object-fit: contain" class="card-img-top hover-opacity" alt="product">
            <div class="card-body">
                <h5 class="card-title"><%=product[i].name%></h5>
                <p class="card-text">Price: $<%=product[i].price%></p>
            </div>
        </div>
        </a>
    <% } %>
    </div>
    <a class="d-flex justify-content-center mt-5" href='/new'><button type="button" class="btn btn-primary">Sell Your Organs</button></a>
    </div>  
</body>
</html>